
body{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    cursor: none;
    background-color: #ccc;
    background-color: #DFDBE5;
}

/* CURSOR */

.cursor{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: rgb(255, 255, 255) solid 1px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 50;
    transition: width .3s ease, height .3s ease;

}
.active{
    width: 30px;
    height: 30px;  
    background-color: black;  
}



/* NAV */

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    z-index: 10;
}
nav h1{
    position: fixed;
    right: .22em;
    font-size: 3em;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}



/* PREMIER BLOC */

.container-1{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% / 2);
    box-sizing: border-box;
    height: 3000px;
} 



   
/* DEUXIEME BLOC */ 

.container-2{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% / 2);
    box-sizing: border-box;
    position: fixed;
    left: calc(100% / 2);
    bottom: 0;
    height: 3000px;
    padding-bottom: 15vh;
}



.image, .image1{
    width: auto;
    height: 400px;
    align-items: center;
    justify-content: center;
    justify-items: center;

    
}

.image1 p {
    margin-top:50%;
    margin-bottom:50%;

    width: 90%;
    color: white;
    height: 400px;
    text-align: center;
    
    
}
.image p{
    width: 90%;
    object-position: center;   
    transition: .3s ease;
    text-align: center;


}
img:hover{
    transform: scale(1.1, 1.1);
    
}

