body {
    animation: transitionIn 2.5s;
    background-color: black ;
    overflow: hidden;

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    z-index: 10;
}
nav h1{
    position: fixed;
    right: .22em;
    font-size: 3em;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}


.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;


}
.shoji-l, .shoji-r {
    display: flex;
    flex-wrap: wrap;
    gap: 5px ;
    align-items: center;
    width: 630px;
    height: 683px;
    border: 10px;
    border-color: black;
    background-color: rgb(0, 0, 0);
}

.sq1 {width: 80px;
    height: 95px;
    background-color: rgba(255, 247, 227);
}

.sq1:hover {
    animation: anim 1s forwards;
}


.title {
    animation: titleAni 3s;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 248, 255, 0);
    color: black;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 65px;
    
}

.navigation-container{
    position: relative;
    width: max-content;
}



.in {
    position: relative;
    top:-73px;
}

.contents-container {
    
    position: absolute;
    z-index: 333;
    font-size: 260px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:link {
    text-shadow: 30px 30px 30px black;
    color: rgba(240, 248, 255, 0);
    text-decoration: none;
}
a:hover {
    text-shadow: 20px 20px 20px black;
    color: rgba(240, 248, 255, 0);
}

.entryone {
    position: relative;
    top:-236px;
    left: 0px;
}


.entrytwo {
    position: relative;
    top:-136px;
    left: 17px;
}
.entrythree{
    position: relative;
    top:-30px;
    left: 97px; 
}

.entryfour{
    position: relative;
    top:160px;
    left: 40px; 
}


.entryfive{
    position: relative;
    top:270px;
    right: -210px; 
}

.the {
    position: relative;
    top: -220px;
    left: 164px;
}

.of {
    position: relative;
    bottom: 130px;
    right: -430px;
}

.praise {
    position: relative;
    top: 120px;
}

.shadows {
    position: relative;
    bottom: -240px;
    right: 60px;
} 
@keyframes anim {
    from { opacity: 80%;
    }
    to {
        opacity:1;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }
}

@keyframes titleAni {
    from {
        opacity: 0;
        transform: translateX(-10px);
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }
}
