* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: rgb(0, 0, 0);
  min-height: 100vh;

}



header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  z-index: 10;
}
nav h1{
  position: fixed;
  right: .22em;
  font-size: 3em;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.531);
}

.parallax {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  min-height: 788px;
  overflow: hidden;
}

#text {
  position: absolute;
font-size: 3em;
text-align: center;
width: 70%;
height: 50%;
font-weight: 100;
color: white;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.463);
}
.parallax-container {
  height: 100vh;
  background-color: black;

}
.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  mix-blend-mode:multiply;
}

#ink1 {
  animation-name: fadeIn;
  animation-duration: 2s;

}

#ink2 {
  animation-name: fadeIn;
  animation-duration: 2.5s;

}

#ink3 {
  animation-name: fadeIn;
  animation-duration: 7s;

}
#ink4, #ink5 {
  animation-name: fadeIn;

  animation-duration: 5s;
}


@keyframes fadeIn {
  from {
    
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sec {
  display: flex;
  background-color: black;
  position: relative;
  bottom: -83px;
}

.one{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100% / 2);
  box-sizing: border-box;
  height: 3000px;
} 
.two {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100% / 2);
  box-sizing: border-box;
  position: fixed;
  left: calc(100% / 2);
  bottom: 0;
  height: 3000px;
  padding-bottom: 15vh;
}

.sec p {
  font-size: 1em;
  margin: 20px;
  color: white;
  font-weight: 100;
}
.previous {
  left: 2%;
}

.next {
  right: 2%;
}

@media only screen and (max-width: 800px) {
  
  .one {
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative;
    top: auto;
  }


  .two {
    display: none;
    position: relative;
    width: 100vw;
  }


}

